*~
.vs/
*.spdata
*.userprefs
bin/
obj/
*.nupkg
*.dll
packages/
Scripts/
Content/
app/hooks/
app/platforms/
app/plugins/
app/www/websharper/
*.log
*.user
*.dbmdl
*.min.css
*.css.map
*paket.exe
*paket.targets
*.jfm
*.refactorlog
paket.lock
